.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
[data-theme='dark'] .site-layout-sub-header-background {
  background: #141414;
}

/* .mainview {
  padding: 2vw 2vw 2vw 15vw;
  min-height: 100vh;
} */
